# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CStandardContainers/.vs/CStandardContainers/v16/.suo
CStandardContainers/.vs/CStandardContainers/v16/Browse.VC.db
CStandardContainers/CStandardContainers/CStandardContainers.vcxproj.user
CStandardContainers/Debug/CStandardContainers.idb
CStandardContainers/Debug/CStandardContainers.pdb
*.ipch
/CStandardContainers/CStandardContainers/Debug
